# -----------------------------
# Python
# -----------------------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.pklz
*.so
*.egg-info/
*.egg

# Virtual Environments
venv/
env/
.venv/
ENV/
env.bak/
venv.bak/

# -----------------------------
# FastAPI / Uvicorn
# -----------------------------
*.log
logs/
uvicorn.log

# -----------------------------
# OS / Editor Files
# -----------------------------
.DS_Store
Thumbs.db

# VS Code
.vscode/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json

# PyCharm
.idea/
*.iml

# -----------------------------
# Environment & Secrets
# -----------------------------
.env
.env.*
*.secret
*.key

# -----------------------------
# Build & Distribution
# -----------------------------
build/
dist/
pip-wheel-metadata/
*.spec

# -----------------------------
# Cache
# -----------------------------
.cache/
**/__pycache__/

# -----------------------------
# Dependencies
# -----------------------------
*.sqlite3
*.db
*.bak

# -----------------------------
# Testing
# -----------------------------
.coverage
htmlcov/
.coverage.*
.pytest_cache/

# -----------------------------
# Ignore Uploaded Files
# -----------------------------
uploads/
media/
files/
temp/
tmp/

# Ignore raw PDFs
knowledge_pipeline/sources/*.pdf
knowledge_pipeline/archive/**/*.pdf
knowledge_pipeline/Docling/pdf/*.pdf

# supabase
.supabase/  
supabase/.temp/
supabase/.local/
supabase/
knowledge_chunks_rows.csv

index.html
static/
static
model_cache/